body {
	background-image: url(../images/scrollingbg.png);
	clear:both;
	text-align:center;
	background-color:#000;
}
canvas, img {
	display: block;
	margin-left: 30px;
	border: 0px solid black;
	text-align: center;
}
canvas {
	z-index:100;
	position : absolute;
	top : 0;
	left :0;
	margin: 0;
	border: 0
}
#main{
	z-index : 200;
	position : absolute;
	top : 0;
	left :0;
	bottom:0;
	right:0;
	width : 100%;	
	height: 100%;
}
#title{
	margin-left:20%;
	margin-right:20%;
	margin-top:20%;
	width : 60%;
}
#startGame{
	margin-left:20%;
	margin-right:20%;
	margin-top:15%;
	width : 60%;
}
#about{
	margin-left:20%;
	margin-right:20%;
	margin-top:8%;
	width : 60%;
}